{% extends "layout.html" %}
{% block content %}

    <div class="d-flex justify-content-center mt-5"><h1>Profile page</h1></div>
    {% if not user.is_authenticated %}
        <div class="d-flex justify-content-center mt-5"><p class="text-danger">Please login to see this page.</p></div>
    {% elif not user.is_superuser %}
        <div class="d-flex justify-content-center mt-5"><p class="text-danger">You need admin permission level to see this page.</p></div>
    {% else %}

        <div class="container w-25 mt-3">
            <h5 class="d-flex justify-content-center">Categories</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Popularity</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.popularity }}</td>
                            <td><a role="button" class="btn btn-info" style="color: white" href="/categories/edit/{{ category.id }}/">Edit</a></td>
                            <td>
                                <form action="." method="post">
                                    {% csrf_token %}
                                    <div class="form-group" style="display: none">
                                        <input type="text" class="form-control" id="action" name="action" value="delete_category">
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <input type="text" class="form-control" id="categoryID" name="categoryID" value="{{ category.id }}">
                                    </div>
                                    <input type="submit" value="Delete" role="button" class="btn btn-danger"></input>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container w-50 mt-3">
            <h5 class="d-flex justify-content-center">Articles</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Creator</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>
                                {{ article.title }}
                                <p style="font-size: small">{{ article.short_description }}</p>
                            </td>
                            <td>{{ article.date_created }}</td>
                            <td>{{ article.created_by_user }}</td>

                            <td><a role="button" class="btn btn-info" style="color: white" href="/articles/edit/{{ article.id }}/">Edit</a></td>
                            <td>
                                <form action="." method="post">
                                    {% csrf_token %}
                                    <div class="form-group" style="display: none">
                                        <input type="text" class="form-control" id="action" name="action" value="delete_article">
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <input type="text" class="form-control" id="articleID" name="articleID" value="{{ article.id }}">
                                    </div>
                                    <input type="submit" value="Delete" role="button" class="btn btn-danger"></input>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container w-25 mt-3">
            <h5 class="d-flex justify-content-center">Sections</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Article ID</th>
                        <th scope="col">Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                        <tr>
                            <td>{{ section.id }}</td>
                            <td>{{ section.article_id }}</td>
                            <td>{{ section.title }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container w-50 mt-3">
            <h5 class="d-flex justify-content-center">Users</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        {% if user.username != "admin" %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                {% if not user|has_group:"Mods" %}
                                    <td>
                                        <form action="." method="post">
                                            {% csrf_token %}
                                            <div class="form-group" style="display: none">
                                                <input type="text" class="form-control" id="action" name="action" value="make_mod">
                                            </div>
                                            <div class="form-group" style="display: none">
                                                <input type="text" class="form-control" id="userID" name="userID" value="{{ user.id }}">
                                            </div>
                                            <input type="submit" value="Make Mod" role="button" class="btn btn-info"></input>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <form action="." method="post">
                                            {% csrf_token %}
                                            <div class="form-group" style="display: none">
                                                <input type="text" class="form-control" id="action" name="action" value="unmake_mod">
                                            </div>
                                            <div class="form-group" style="display: none">
                                                <input type="text" class="form-control" id="userID" name="userID" value="{{ user.id }}">
                                            </div>
                                            <input type="submit" value="Unmake Mod" role="button" class="btn btn-danger"></input>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if mods_error %}
            <div class="fixed-bottom d-flex justify-content-center" style="width: 500px">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Uh-oh!</strong> There is no "Mods" group.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}