{% extends "layout.html" %}
{% load custom_tags %}
{% load filter_tags %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="p-4 col-8 bg-light text-dark">

                <h1 class="display-4">{{ article.title }}</h1>
                <div class="d-flex flex-row-reverse mb-1">
                    {% for category in article.categories.all %}
                        <span class="badge ml-2 badge-secondary">{{ category.name }}</span>
                    {% endfor %}
                </div>
                <h3>{{ article.short_description }}</h3>
                <p class="lead">
                    {{ article.main_text }}
                </p>

                <br>

                {% for section in article.section_set.all %}
                    <h3>{{ section.title }}</h3>
                        <div class="container mb-2">
                            <div class="row ml-4 mb-4">
                                <div class="col-12">
                                    {{ section.text }}
                                </div>
                            </div>
                            {% if section.image %}
                            <div class="row ml-4">
                                <div class="col-12">
                                    <img class="mw-100" src="{{ section.image.url }}" />
                                </div>
                            </div>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>

            <div class="p-4 col-4">
                <div class="card">
                    <img src={{ article.main_image.url }} class="card-img-top" alt="no image found">
                    <div class="card-body">
                        <table class="table">
                            {% if article.side_card %}
                                <tbody>
                                    {% for card in article.side_card %}
                                        <tr>
                                            <th scope="row">{{ card.name }}</th>
                                            <td>
                                                {% if card.value|length == 1 %}
                                                    {{ card.value|first }}
                                                {% else %}
                                                    <ul style="padding-left: 1em">
                                                    {% for texto in card.value %}
                                                        <li>{{ texto }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center m-2">
            {% if isAdmin or isMod or isAuthor %}
                <a role="button" class="btn btn-secondary" style="color: white; width: 200px; margin-right: 5px" href="/articles/edit/{{ article.id }}/">Edit</a>
            {% endif %}

            {% if isAdmin or isAuthor %}
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" id="action" name="action" value="delete_article">
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" id="articleID" name="articleID" value="{{ article.id }}">
                    </div>
                    <input type="submit" value="Delete" role="button" class="btn btn-danger" style="width: 200px; margin-left: 5px"></input>
                </form>
            {% endif %}
        </div>

    </div>

{% endblock %}