{% extends "layout.html" %}
{% load custom_tags %}
{% load filter_tags %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="m-2 col-8 bg-light text-dark">

                <h1 class="display-4">{{ article.title }}</h1>
                <div class="d-flex flex-row-reverse mb-1">
                    {% for category in article.categories.all %}
                        <span class="badge badge-secondary">{{ category.name }}</span>
                    {% endfor %}
                </div>
                <h6>{{ article.short_description }}</h6>
                <p class="lead">
                    {{ article.main_text }}
                </p>

                <br>

                {% for section in article.section_set.all %}
                    <h3>{{ section.title }}</h3>
                    {% for sub in section.subsection_set.all %}
                        <h5 class="ml-4">{{ sub.title }}</h5>
                            <div class="container mb-2">
                                <div class="row ml-4">
                                    {% for content in sub.content %}
                                        {% ifequal content.type "text" %}
                                            <div class="col-12">
                                                {% with 0 as start_idx %}
                                                    {% for link in content.links %}
                                                        start idx: {{ start_idx }}
    {#                                                    {{ link }}#}
                                                        {% with content.value|find:link.text as end_idx %}

                                                            {% link_text content.value start_idx end_idx %}
    {#                                                        {% with content.value|substring:start_idx as substr %}#}
    {#                                                            {{ substr }}#}
    {#                                                        {% endwith %}#}
                                                            {% update_var start_idx|add:end_idx as start_idx %}
                                                            start idx2: {{ start_idx }}
                                                            {% update_var link.text|length|add:start_idx as start_idx %}
                                                            start idx3: {{ start_idx }}


{#                                                            {% with True as teste %}#}
{#                                                                {% update_var False as teste %}#}
{##}
{#                                                                teste: {{ teste }}#}
{#                                                            {% endwith %}#}
{#                                                            my var: {{ my_var }}#}
                                                            <a href="{{ link.href }}">{{ link.text }}</a>

                                                        {% endwith %}
                                                    {% endfor %}
                                                    {% link_text content.value start_idx -1 %}
                                                {% endwith %}
                                                {% teste content.value|urlize %}
{#                                                {% link_text content.value content.links %}#}
                                                {% with content.value|find:"Sus" as words %}
{#                                                    {{ words }}#}
{#                                                    {% for word in words %}#}
{#                                                        {{ word }}#}
{#                                                    {% endfor %}#}
                                                {% endwith %}
                                            </div>
                                        {% endifequal %}
                                        <p>{{ content }}</p>
                                        <br>
                                    {% endfor %}

                                </div>
                            </div>
                    {% endfor %}
                {% endfor %}

                <!-- for every sub-section -->

                <!-- ends here -->

            </div>

            <div class="m-2 col">
                <div class="card" style="width: 18rem;">
                    <img src={{ article.main_image.url }} class="card-img-top" alt="shrek baby">
                    <div class="card-body">
                        <table class="table">

                            <!-- ERASE when we have content -->
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <!-- till here -->

                            <tbody>

                                <!-- for every field-valur pair -->
                                <tr>
                                    <th scope="row">...</th>
                                    <td>...</td>
                                </tr>
                                <!-- ends here -->

                                <!-- ERASE when we have content -->
                                <tr>
                                    <th scope="row">...</th>
                                    <td>...</td>
                                </tr>
                                <tr>
                                    <th scope="row">...</th>
                                    <td>...</td>
                                </tr>
                                <!-- till here -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Footer for edit data
        </div>
    </footer>

{% endblock %}