{% extends "layout.html" %}
{% block content %}

    <div class="container">
    <form action="." method="post" class="form-horizontal">
        <div class="row">
            {% csrf_token %}
            <div class="m-2 col-8 bg-light text-dark">

                <h1 class="display-4">{{ form.title }}</h1>
                <div class="d-flex flex-row-reverse mb-1">
                    {{ form.categories }}
                    <!-- <button type="button" class="btn btn-outline-secondary">Category</button> -->
                </div>
                <h6>{{ form.short_description }}</h6>
                <p class="lead">{{ form.main_text }}</p>

                <br>

                {{ sectionset.management_form }}
                {% for section in sectionset %}
                <h5>{{ section.title }}</h5>
                <div class="container mb-2">
                    <div class="row">
                        <div class="col-12">{{ section.content }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="m-2 col">
                <div class="card" style="width: 18rem;">
                    <img src="image.jpg" class="card-img-top" alt="shrek baby">
                    {{ form.main_image }}
                    <div class="card-body">
                        <table class="table">

                            <!-- ERASE when we have content -->
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <!-- till here -->

                            <tbody>

                                {{ form.side_card }}

                                <!-- for every field-valur pair -->
                                <tr>
                                    <th scope="row">...</th>
                                    <td>...</td>
                                </tr>
                                <!-- ends here -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Footer for edit data
        </div>
    </footer>

{% endblock %}