{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <form action="." method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="m-2 col-8 bg-light text-dark">

                <h1 class="display-4">{{ form.title }}</h1>
                <div class="d-flex flex-row-reverse mb-1">
                    {{ form.categories }}
                    <!-- <button type="button" class="btn btn-outline-secondary">Category</button> -->
                </div>
                <h6>{{ form.short_description }}</h6>
                <p class="lead">{{ form.main_text }}</p>

                <br>

                <!-- DELETE LATER -->
                <h5>FOR TESTING:</h5>
                {{ form.sections }}
                {{ form.side_card }}

                <!-- for every sub-section -->
                <h5>Sub-section title</h5>
                <div class="container mb-2">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-12">
                            In sit amet nunc vel nunc volutpat volutpat. Aliquam faucibus est est, vel tincidunt massa
                            imperdiet a. Maecenas vel est mi. Fusce sollicitudin at enim a varius. Maecenas massa massa,
                            sollicitudin vel lorem tincidunt, efficitur tristique velit. Ut congue sagittis dui viverra
                            pretium. Sed tincidunt, nisi vitae gravida porttitor, nulla eros tempus nibh, at porttitor
                            odio libero rhoncus orci. Phasellus imperdiet consequat metus ut efficitur.
                        </div>
                    </div>
                </div>
                <!-- ends here -->

            </div>

            <div class="m-2 col">
                <div class="card" style="width: 18rem;">
                    <img src="image.jpg" class="card-img-top" alt="shrek baby">
                    {{ form.main_image }}
                    <div class="card-body">
                        <table class="table">

                            <!-- ERASE when we have content -->
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <!-- till here -->

                            <tbody>

                                <!-- for every field-valur pair -->
                                <tr>
                                    <th scope="row">...</th>
                                    <td>...</td>
                                </tr>
                                <!-- ends here -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Footer for edit data
        </div>
    </footer>

{% endblock %}