{% extends "layout.html" %}
{% block content %}

    {% if search_prompt %}
        <p style="text-align: center; padding-top: 2em">Results for "{{ search_prompt }}"</p>
    {% endif %}
    <br>
    {% for article in articles %}
        <div class="card card-clickable mx-auto" style="width: 70%; margin-bottom: 2em">
            <div class="card-header">
            {{ article.title }}
            </div>
            <a href="{{ article.id }}">
                <div class="card-body">
                    <div class="row card-body">
                        <div class="col-sm-10" style="display: flex; flex-direction: column; justify-content: center">
                            <blockquote class="blockquote mb-0">
                                <p>{{ article.short_description }}</p>
                            </blockquote>
                        </div>
                        <div class="col-sm-2">
                            <img class="card-img" style=" position: unset" src="{{ article.main_image.url }}" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

{% endblock %}