{% extends "layout.html" %}
{% block content %}
{% load custom_tags %}

    <div class="px-3">
    <form enctype="multipart/form-data" id="sussyform" action="/savearticle/" method="post" class="form-horizontal" >
        <div class="row">
            {% csrf_token %}
            <div class="p-4 col-sm-12 col-lg-7 bg-light text-dark">

                <h1 class="display-4">{{ form.title }}</h1>
                <div class="d-flex flex-row-reverse mb-1">
                    {{ form.categories }}
                    <!-- <button type="button" class="btn btn-outline-secondary">Category</button> -->
                </div>
                <h3>{{ form.short_description }}</h3>
                <p class="lead">{{ form.main_text }}</p>

                <br>


                <div id="section_formgroup">
                {{ sectionset.management_form }}
                {% for section in sectionset %}
                    <div id="{{ forloop.counter0|slugify|add:"_section_form" }}" >
                        <h5>{{ section.title }}</h5>
                        {{ section.text }}
                        <br />
                        {{ section.image }}
                        <button class="btn btn-danger mr-1 mb-2" type="button" onclick="delete_section(this)">Delete Section</button>
                    </div>
                {% endfor %}
                </div>
                <button class="btn btn-secondary mr-1 mb-1" type="button" onclick="new_section()">New Section</button>
            </div>

            <div class="p-4 col-sm-12 col-lg-5">
                <div class="card">
                    {{ form.main_image }}
                    <div class="card-body">
                        <table class="table">

{#                            <!-- ERASE when we have content -->#}
{#                            <thead>#}
{#                                <tr>#}
{#                                    <th scope="col">Field</th>#}
{#                                    <th scope="col">Value</th>#}
{#                                </tr>#}
{#                            </thead>#}
{#                            <!-- till here -->#}
                            {{ form.side_card }}
                        </table>
                        <button class="btn btn-secondary" type="button" onclick="new_side_card_field()" >New field</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary ml-2 mb-4" type="submit">Save Changes</button>
    </form>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Footer for edit data
        </div>
    </footer>

    <script>
        // disable default input element behaviour for Enter key
        input_elems = document.getElementsByTagName("input")
        for (const el of input_elems) {
            if (el.type == "search") continue
            el.addEventListener("keypress", (ev) => {
                if (ev.key === "Enter") {
                    ev.preventDefault()
                }
            })
        }

        new_section = () => {
            let last_number
            try {
                last_number = document.getElementById("section_formgroup").lastElementChild.id.split("_")[0] /1 +1
            } catch { last_number = 0 }

            let title_h5 = document.createElement("h5")
            let title_input = document.createElement("input")
            title_input.name = "form-" + last_number + "-title"
            title_input.id = "id_form-" + last_number + "-title"
            title_input.type = "text"
            title_input.maxLength = 120
            title_h5.appendChild(title_input)

            let text_input = document.createElement("textarea")
            text_input.name = "form-" + last_number + "-text"
            text_input.id = "id_form-" + last_number + "-text"
            text_input.cols = 40
            text_input.rows = 10

            let image_input = document.createElement("input")
            image_input.name = "form-" + last_number + "-image"
            image_input.id = "id_form-" + last_number + "-image"
            image_input.type = "file"
            image_input.accept = "image/*"

            let del_button = document.createElement("button")
            del_button.type = "button"
            del_button.setAttribute("onclick", "delete_section(this)")
            del_button.innerText = "Delete Section"
            del_button.className = "btn btn-danger mr-1 mb-2"

            let outer_div = document.createElement("div")
            outer_div.id = last_number + "_section_form"
            outer_div.appendChild(title_h5)
            outer_div.appendChild(text_input)
            outer_div.appendChild(document.createElement("br"))
            outer_div.appendChild(image_input)
            outer_div.appendChild(document.createElement("br"))
            outer_div.appendChild(del_button)

            document.getElementById("section_formgroup").appendChild(outer_div)
            document.getElementById("id_form-TOTAL_FORMS").value += 1
        }

        delete_section = (elem) => {

        }

    </script>

{% endblock %}