{% extends "layout.html" %}
{% block content %}

    {% if search_prompt %}
        <p style="text-align: center; padding-top: 2em">Results for "{{ search_prompt }}"</p>
    {% endif %}
    <br>
    {% if articles %}
        <div class="d-flex justify-content-center mt-3 mb-2"><h3>Article list</h3></div>
        <div class="container d-flex flex-row-reverse mb-3"><a href="/newarticle/" class="btn btn-success" role="button">Create Article</a></div>
        {% for article in articles %}
            <div class="card card-clickable mx-auto" style="width: 70%; margin-bottom: 2em">
                <div class="card-header">
                {{ article.title }}
                </div>
                <a href="{{ article.id }}">
                    <div class="card-body">
                        <div class="row card-body">
                            <div class="col-sm-10" style="display: flex; flex-direction: column; justify-content: center">
                                <blockquote class="blockquote mb-0">
                                    <p>{{ article.short_description }}</p>
                                </blockquote>
                            </div>
                            <div class="col-sm-2">
                                <img class="card-img" style=" position: unset" src="{{ article.main_image.url }}" />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        {% if search_prompt %}
            <div class="d-flex justify-content-center mt-3"><h5>No results for "{{ search_prompt }}".</h5></div>
        {% else %}
            <div class="d-flex justify-content-center mt-3"><h5>No articles yet.
                {% if user.is_authenticated %}
                    <a href="/newarticle/">Create one!</a>
                {% else %}
                    <a href="/login/">Login to create one!</a>
                {% endif %}
            </h5></div>
        {% endif %}
    {% endif %}

{% endblock %}