{% extends "layout.html" %}
{% block content %}

    <div class="d-flex justify-content-center mt-5"><h3>Create category</h3></div>
    <div class="container w-25 mt-3">
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter category name" name="name">
            </div>
            <div class="form-group">
                <label for="popularity">Popularity</label>
                <input type="text" class="form-control" id="popularity" placeholder="Enter category popularity" name="popularity">
            </div>
            {% if error %}
                <div class="d-flex flex-row-reverse bd-highlight"><p class="text-danger">Invalid inputs!</p></div>
            {% endif %}
            <div class="d-flex justify-content-center"><input type="submit" value="Create" role="button" class="btn btn-secondary"></input></div>
        </form>
    </div>

    {% if just_created_category %}
        <div class="fixed-bottom d-flex justify-content-center" style="width: 500px">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> You created a new category.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}

{% endblock %}