{% extends "layout.html" %}
{% block content %}

    {% if user.is_authenticated %}

        <div class="d-flex justify-content-center mt-5"><h3>Change your password</h3></div>
        <div class="container w-75 mt-3">
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="new_password">New password</label>
                    <input type="password" class="form-control" id="new_password" placeholder="Enter new password" name="new_password">
                </div>
                <div class="form-group">
                    <label for="new_password_conf">Confirm new password</label>
                    <input type="password" class="form-control" id="new_password_conf" placeholder="Confirm new password" name="new_password_conf">
                </div>
                <input type="submit" value="Change password" role="button" class="btn btn-secondary"></input>
            </form>
        </div>

    {% else %}
        <div class="d-flex justify-content-center mt-5"><p class="text-danger">Please login to see this page.</p></div>
    {% endif %}

{% endblock %}