{% for entry in widget.value %}
    {% if entry.type == "text" %}
        <textarea class="form-control" {% include "widgets/widgetattrs.html" %}
                name="{{ section_count }}"
        >{{ entry.value }}</textarea>
    {% elif entry.type == "image" %}
        {% comment %} introduzir outros parametros de imagem {% endcomment %}
        <img src="{{ entry.src }}" /><br />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" accept="image/*" />
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    {% endif %}
    <br />
{% endfor %}

<button class="btn btn-secondary mr-1 mb-2" type="button" onclick="new_text_field()">New Text Field</button>
<button class="btn btn-secondary mr-1 mb-2" type="button" onclick="new_image()">New Image</button>

<script>
    new_text_field = () => {
        //let elem =
    }
    new_image = () => {

    }

    delete_text_area = (elem) => {

    }
    delete_image = (elem) => {

    }
</script>