<tbody id="side_card_table" {% include "widgets/widgetattrs.html" %}>
    {% for entry in widget.value %}
        <tr>
            <td>
                <input class="form-control" name="{{ forloop.counter0|slugify|add:"_scard_entry_name" }}" type="text" value="{{ entry.name }}" maxlength="50" >
            </td>
            <td>
                <textarea class="form-control" name="{{ forloop.counter0|slugify|add:"_scard_entry_val" }}"
                    type="text" cols="20" rows="5"

                >{{ entry.value|join:"&#13;&#10;" }}</textarea>
            </td>
            <td>
                <button class="btn btn-danger" type="button" onclick="delete_side_card_field(this)">Delete</button>
            </td>
        </tr>
    {% endfor %}
</tbody>

<script>
    new_side_card_field = () => {
        let elem = document.getElementById("side_card_table")
        let last_number
        try {
            last_number = elem.lastElementChild.firstElementChild.firstElementChild.getAttribute("name").split("_")[0]
        }
        catch {
            last_number = 0
        }

        let row = document.createElement("tr")
        let name_col = document.createElement("td")
        let val_col = document.createElement("td")
        let button_col = document.createElement("td")

        let name_input = document.createElement("input")
        name_input.name = last_number/1 +1 + "_scard_entry_name"
        name_input.type = "text"
        name_input.maxLength = 50
        name_input.className = "form-control"

        let val_input = document.createElement("textarea")
        val_input.name = last_number/1 +1 + "_scard_entry_val"
        val_input.type = "text"
        val_input.maxLength = 50
        val_input.cols = 20
        val_input.rows = 5
        val_input.className = "form-control"

        let del_button = document.createElement("button")
        del_button.innerText = "Delete"
        del_button.type = "button"
        del_button.setAttribute("onclick", "delete_side_card_field(this)")
        del_button.className = "btn btn-danger"

        name_col.appendChild(name_input)
        val_col.appendChild(val_input)
        button_col.appendChild(del_button)

        row.appendChild(name_col)
        row.appendChild(val_col)
        row.appendChild(button_col)

        elem.appendChild(row)
    }

    delete_side_card_field = (elem) => {
        elem.parentElement.parentElement.remove()
    }
</script>
