{% load custom_tags %}
<tbody {% include "widgets/widgetattrs.html" %}>
    {% for entry in widget.value %}
        <tr>
            <td>
                <input name="{{ forloop.counter0|slugify|add:"_scard_entry_name" }}" type="text" value="{{ entry.name }}" maxlength="50" >
                {% update_var forloop.counter0|slugify as entry_num %}
            </td>
            <td>
                {% for val in entry.value %}
                    <input name="{{ forloop.counter0|slugify|add:"_"|add:entry_num|add:"_scard_entry_val" }}"
                           type="text" value="{{ val }}" maxlength="50"
                    >
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</tbody>
<script>
    
</script>
